body
{
    margin:0 0 auto 0;
    padding:0;
}
img
{
    border:none;
}
#top
{
    width: 100%;
    background-color:#C80002;
    text-align: center;
    vertical-align: middle;
}
#topImg
{
    display: block;
    height:100px;
    width:100%;
}
.close
{
    position: absolute;
    top:10px;
    right:30px;
    font-size:25px;
    color:#ffffff;
    text-decoration: none;
    height:20px;
    width:20px;
    background-color:rgba(0, 0, 0, 0.3);
    line-height: 18px;
}
.ng-toolbar
{
    position: relative;
    height:35px;
    width: 100%;
    min-width:1190px;           /*设置元素的最小宽度，小于此宽度，div不会再缩小，浏览器会产生滚动条*/
    background-color:#f5f5f5;
    border-bottom:1px solid #eee;
}
.ng-toolbar-t
{
    width:1190px;
    height: 35px;
    margin:0 auto;
}
.ng-toolbar-left
{
    float:left;
}
.ng-toolbar-right
{
    float:right;
}

.ng-toolbar nav a,.ng-toolbar nav>div/*只选择nav下面的一级div;*/
{
    display: block;/*使导航栏的所有a标签并排从左到右排列*/
    float:left;
    text-decoration: none;
    color: #666;
    font-size: 12px;
    line-height: 35px;
    padding:0px 10px;
}
.ng-toolbar nav div
{
    padding:0px 10px;
}
.ng-toolbar nav a:hover
{
    color:#F60;
}
@font-face {            /*阿里iconfont的使用http://www.iconfont.cn/*/
    font-family: 'ng-iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.ng-iconfont{
    font-family:"ng-iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.ng-backhome
{
    margin-right: 3px;
}

.ng-down
{
    position: relative;/*给父元素添加定位，这样下拉框绝对定位时才能根据父元素定位*/
}
.ng-down-box
{
    display:none;
}
.ng-down-box
{
    position: absolute;/*根据定义定位的最近的父元素定位，否则就得根据body定位*/
    top:36px;
    left: -1px;
    background-color: #fff;
    border:1px solid #eee;
    border-top: none;
    padding-bottom: 5px;
    margin-right:-1px;
    z-index: 100;
}
.ng-down a
{
    display: block;
    position: relative;
    float: left;
}
.ng-down:hover
{
    background-color: #fff;
    border-right:1px solid #eee;
    border-left:1px solid #eee;
    margin:0 -1px;
}
.ng-down:hover .ng-down-box /*hover的时候下拉列表元素出现*/
{
    display: block;
}
#ngdown-1
{
    width:600px;
}
#ngdown-2
{
    width:178px;
    right:0;
    left: auto;/*绝对定位右侧靠右*/
}
.ng-down-box dl
{
    display: inline-block;
    width:176px;
    border-right:1px solid #eee;
    padding-left: 20px;
}

.ng-down-box dl:last-child
{
    border:none;
}

.ng-down-box dl dt
{
    font-family: "Microsoft Yahei";
    font-size:14px;
    font-weight: bold;
}
.ng-down-box dd
{
    margin:0;
}
.ng-down-box dd a
{
    display: inline-block;
    width:70px;
    padding:0;
}

.newJuHeader
{
    width:100%;
}
.tpl-mainHeader
{
    width: 1190px;
    height:100px;
    margin:0 auto;
    position: relative;
}
.tpl-mainHeader img
{
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    margin:auto;
}
.tpl-mainHeader span:nth-child(2) img
{
    left:200px;
}
.tpl-mainHeader>img /*取第一个子元素*/
{
    top:17px;
    right:17px;
}

.mainNav
{
    width: 100%;
    height: 35px;
    background-color: #ED3B3B;
    position: relative;
}
.mainNav-category
{
    width: 1190px;
    margin: 0 auto;
    font-size: 0;
}
.mainNav-category a
{
    text-decoration: none;
    font-family: "Microsoft YaHei";
    font-size:14px;
}
.mainNav-category nav,.mainNav-category nav ul
{
    margin: 0;
    padding:0;
    height:35px;
    font-size: 0;/*由于ul和li display:inline-block时，换行符会转为空格，先使父元素字体大小为0，再单独给li赋大小*/
}
.mainNav-category nav a
{
    color:#fff;
    display: inline-block;
    height: 35px;
    width:110px;
    text-align: center;
}
.mainNav-category nav a:hover
{
    background-color: #CB2524;
}
.checked
{
    background-color: #CB2524;
}
.mainNav-category nav ul li
{
    line-height: 35px;/*设置了行高，里面的文字才会按照行高规范，不会出现超过行高的上下间隔区间*/
}

.mainNav-category ul,.mainNav-category ul li
{
    display: inline-block;
    list-style: none;
}
ul.nmc-sort-list
{
    width:189px;
    height:449px;
    padding: 0;
    margin:0;
    background-image: url(../img/150518168866650858.png);
    border-right:1px solid #E6E3E3;
    border-bottom: 1px solid #E6E3E3;
    float:left;
}
ul.nmc-sort-list li
{
    width:60px;
    height:30px;
    margin:6px 0 6px 25px;
}
ul.nmc-sort-list li a
{
    color: #333333;
}
.nmc-all
{
    line-height: 35px;
    width:190px!important;/*提升优先级*/
    height:35px;
    text-align: left!important;
    font-weight: bold;
}
.nmc-all i
{
    padding-right:8px;
    font-weight: normal;
    margin-left: 16px;
}
.wrapper
{
    margin:0;
    padding: 0;
}
.wrapper ul li
{
    float:left;/*使横向排列*/
    list-style: none;
}
.wrapper
{
    width:750px;
    height:300px;
    display: inline-block;
    position: relative;
}

.imgs
{
    width:750px;
    height:100%;
    overflow: hidden;
    float: left;
    position: relative;
}
.imgs ul
{
    padding:0;
    margin:0;
    width:4500px;/*6张图片的宽度*/
    height:300px;
    position: absolute;
    left:-750px;/*ul左移一个图像，使第一张第一个显示*/
}
.imgs img
{
    width:750px;
    height:300px;
}
.banner-nav
{
    position: absolute;
    width:750px;
    height: 30px;
    text-align: center;
    bottom:0px;
    z-index:1;/*z-index无效的情况1、父标签 position属性为relative；2、问题标签无position属性（不包括static）；3、问题标签含有浮动(float)属性。*/
}
.banner-nav ul
{
    display: inline-block;
    padding:0 7px;
    margin:0;
    height:22px;
    border-radius:12px;  
    background-color:rgba(0,0,0,0.45);
}

.banner-nav ul li a
{
    display:inline-block;
    width:10px;
    height:10px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    font-size:0;
    border-radius: 50%;
    margin:5px;
}
.previous,.next
{
    display: inline-block;
    width:36px;
    height:64px;
    background-image:url(../img/icon-index.png);
    background-position: -335px -235px;
    position: absolute;
    z-index: 2;
    top:0;
    bottom:0;
    margin:auto;/*绝对定位居中两个条件：四围为0，margin:auto*/
    cursor: pointer;
    left: 0;
}
.previous:hover
{
    background-image: url(../img/icon-index.png);
    background-position: -224px -235px;
}
.next:hover
{
    background-image: url(../img/icon-index.png);
    background-position: -391px -235px;
}
.next
{
    left:auto;
    right:0;
    background-image: url(../img/icon-index.png);
    background-position:-279px -235px;
}
a.current
{
    background-color:#C80002;
}
a.hidden 
{
    background-color: #fff;
}
.banner-slide-small
{
    display: inline-block;
    width: 250px;
    height: 300px;
}
.banner-slide-small a
{
    padding:0;
    margin: 0;
    line-height: 300px;
}
.banner-horizontal-list
{
    padding:0;
    width:1000px;
}
.ju-sale-bg
{
    position: absolute;
    top:35px;
    width: 100%;
    height: 450px;
    font-size: 0;
    z-index: -10;
    overflow: hidden;
}
.bg-right
{
    position: absolute;
    width:50%;
    top: 0;
    left: 50%;
    padding-left:595px;
    overflow: hidden;
}
.bg-left
{
    position: absolute;
    width:50%;
    top:0;
    right:50%;
    padding-right:595px;
    text-align: right;
    overflow: hidden;
}

.tpl-recommand-brand
{
    width:100%;
    min-width: 1190px;
}
.rb-cont
{
    width:1190px;
    margin:0 auto;
}
.rb-title
{
    height:50px;
}
.rb-title h2
{
    color: #ec0000;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    display: inline-block;

}
.rb-title span
{
    color:#999;
    font-size: 14px;
}
.rb-title a
{
    float: right;
    margin-top:20px;
    text-decoration: none;
    color:#ec0000;
    font-size: 14px;
    font-weight: bold;
}

.recBrandWrapper
{
    width:1190px;
    margin:0 auto;
    font-size: 0;
}
.recBrandWrapper a
{
    text-decoration: none;
    color:#ec0000;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin:0;
}
a.brand-link
{
    height:280px;
}
.recBrandTwo-item
{
    display:inline-block;
    margin:0 0 20px 0;
}
.recBrandWrapper>div:nth-child(2)
{
    margin-left: 27px;
}
.recBrandWrapper div ul,.recBrandWrapper div ul li
{
    display: inline-block;
    vertical-align: top;
}
.recBrandWrapper div ul
{
    padding:10.25px;
    background-color: #eee;
}
.recBrandWrapper div ul li
{
    margin:10.25px;
    background-color: #eee;
}
.recBrandWrapper img
{
    width:180px;
    height:280px;
}
.recBrandWrapper ul li img
{
    width:170px;
    height: 170px;
}
.recBrandWrapper ul li a
{
    background-color: #fff;
}
.ju-nav
{
    width:1190px;
    margin:0 auto;
}
.ju-nav td
{
    display: inline-block;
    height: 50px;
    text-align: center;
    padding:0;
}
.ju-nav a
{
    text-decoration: none;
    color:#000;
    padding:0px 9px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 5px;
    display:inline-block;
    line-height: 26px;
    height: 26px;
}
.active a
{
    background-color: #ec0000;
    color:#fff;
    font-weight: bold;
}

.ju-sort
{
    width:1190px;
    margin:0 auto;
    font-size: 12px;
    color: #333;
}
.ju-sort div
{
    display: inline-block;
    height: 26px;
}
.ju-sort a
{
    text-decoration: none;
    display:inline-block;
    height:26px;
    width:68px;
    position: relative;
    color: #333;
}
.ju-sort i
{
    font-style: normal;
}
.ju-nav-wrapper
{
    border:1px solid #e8e8e8;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.ju-sort-item
{
    border-right: 1px solid #e8e8e8;
}
.ju-sort-choose 
{
    margin-left:25px;
}
.ju-sort-choose b
{
    float:left;
    height:13px;
    width:13px;
    margin-right: 3px;
    background-image: url(../img/icon-index.png);
    background-position: -194px -435px;
    margin-top:2px;
    line-height: 0
}
.ju-sort-pager
{
    float:right;
}
.pager-num b
{
    color:#ec0000;
    font-weight: bold;
}
.pager-prev
{
    display: inline-block;
    width:24px;
    height:24px;
    border: 1px solid #999;
    text-align: center;
    vertical-align: bottom;
}
.pager-prev i
{
    display: inline-block;
    width:6px;
    height:10px;
    background-image: url(../img/icon-index.png);
    background-position: -273px -348px;
    margin:0 auto;
    margin-top:7px;
}

.pager-ptn
{
    display: inline-block;
    height:24px!important;
    border:1px solid #999;
    line-height: 24px;
    text-align: center;
}
.pager-ptn i
{
    display: inline-block;
    width:6px;
    height:10px;
    background-image: url(../img/icon-index.png);
    background-position: -195px -348px;
    margin-left: 4px;
}